<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>订单详情</title>
	<link rel="stylesheet" href="./include/css/ddxq.css">
</head>
<body>
<!-- 头部 -->
	<div class="header">
		<div class="header_1 W center">
			<div class="header_1_1">
				<a href="">中关村在线</a>|
				<a href="">产品报价</a>|
				<a href="">ZOL商城</a>|
				<a href="">团购</a>|
				<a href="">论坛</a>|
				<a href="">经销商</a>
			</div>
			<ul class="header_1_2">
				<li class="login">
					你好，
					<a href="./index.php?m=per&a=show"><?=$_SESSION['user']['username']?></a>
					<a class="login_1" href="./index.php?m=sign&a=show">退出</a>|
				</li>
				<div class="none">
					<li class="login1"><a href="">买家中心v</a></li>
					<div class="block">
						<a href="">已买到的商品</a><a href="">收货地址</a>
					</div>
				</div>
				<li class="login2">
					|<a href="">购物车
					(<em>0</em>)
					</a>|
				</li>
				<li class="login3"><a href="">帮助中心</a>|</li>
				<li class="login4">客服电话：<em>400-688-1999</em></li>
			</ul>
		</div>
	</div>
	<!-- logo -->
	<div class="logo W center">
		<a href="http://www.zol.com">
			<img src="http://icon.zol-img.com.cn/zol_shop_logo/shop_212x40.jpg" width="212" height="40" alt="">
		</a>
		<a href="http://www.zol.com">
			<img src="http://icon.zol-img.com.cn/newshop/shop/logo-text.png" width="165" height="40">
		</a>
		<ul class="flow">
            <li class="s1">加入购物车</li>
            <li class="s2">下订单</li>
            <li class="s3">去付款</li>
            <li class="s4">确认收货</li>
            <li class="s5">评价</li>
        </ul>
	</div>
	<div style="width:960px;margin:0 auto;">
		<h3>收货地址</h3><br><br><br>
		<form action="./index.php?m=order&a=insert" method="post">
		联系人：<input type="text" name="linkman" value="" required="required"><br><br><br>
		电话：<input type="text" name="phone" value="" required="required"><br><br><br>
		地址：<input type="text" name="address" value="" required="required"><br><br><br>
	<!-- 订单详情信息 -->
	<div class="information W center">
		<div class="information_1">
			<div class="first">
				<table class="table" width="918">
					<tr>
						<th class="th-1">所选商品</th>
						<th class="th-2">单价（元）</th>
						<th class="th-3">数量</th>
						<th class="th-4">优惠</th>
						<th class="th-5">小计（元）</th>
					</tr>
					<tr class="tr">
						<td colspan="5"></td>
					</tr>
		<?php
			foreach($_SESSION['cart'] as $k=>$v){
					$z=0;
					$z+=$v['price']*$v['num'];
				$str=<<<EOF
					<tr class="tr1">
						<td class="td-1">
							<a class="pic" href="">
								<img width="70" height="70" src="../public/upload/goods/{$v['pic']}" alt="">
							</a>
							<div class="pic-1">
								<h3><a href="">{$v['name']}</a></h3>
								<div class="pic_1"></div>
								<p>颜色：珠光白行货32GB(非合约机)</p>
								<div class="pic_2"><span>套装：官方标配</span></div>
							</div>
						</td>
						<td class="td-2">{$v['price']}</td>
						<td class="td-3"><div>{$v['num']}</div></td>
						<td class="td-4"><span>团购</span></td>
						<td class="td-5"><em>{$z}</em></td>
					</tr>

					
EOF;
					echo $str;
		}	
		

?>
					<tr>
						<td colspan="5" class="tdd">
							<dl>
								<dt>应付总额（含运费0元）：</dt>
								<dd><em><?=$z?></em>元</dd>
							</dl>
						</td>
					</tr>
					<!-- <tr class="tr1">
						<td class="td-1">
							<a class="pic" href="">
								<img src="https://mercrt-fd.zol-img.com.cn/t_s80x80/g5/M00/05/0D/ChMkJlt84tOIThKtAAq6-E85_6AAArHrQARUCcACrsQ806.png" alt="">
							</a>
							<div class="pic-1">
								<h3><a href="">【现货包邮 送壳膜】荣耀9青春版 3+32GB 全网通 移动联通电信4G手机</a></h3>
								<div class="pic_1"></div>
								<p>颜色：珠光白行货32GB(非合约机)</p>
								<div class="pic_2"><span>套装：官方标配</span></div>
							</div>
						</td>
						<td class="td-2">858.00</td>
						<td class="td-3"><div>1</div></td>
						<td class="td-4"><span>团购</span></td>
						<td class="td-5"><em>858.00</em></td>
					</tr> -->
					<!-- <tr>
						<td colspan="5" class="tdd">
							<dl>
								<dt>应付总额（含运费0元）：</dt>
							</dl>								<dd><em>858.00</em>元</dd>

						</td>
					</tr> -->
				</table>
			</div>
		</div>
	</div>
			<input type="submit" value="提交订单" style="text-align:right;">
			</form>
	</div>
	<!-- 尾部 -->
	<div class="wb W center">
		<p>
			<a href="">关于商城</a>|
			<a href="">营销中心</a>|
			<a href="">服务中心</a>|
			<a href="">联系我们</a>|
			<a href="">发展历程</a>|
			<a href="">媒体报道</a>
		</p>
		<p>
			<span>©2018中关村在线 版权所有. 京ICP备09041801号-182
				<a href="">京ICP证010391号</a>
			</span>
		</p>
	
		<div class="W center zh">
			<a href="">
				<img src="./include/images/beian.png" alt="">
				<img src="./include/images/jingcha.png" alt="">
				<img src="./include/images/cert.png" alt="">
			</a>
		</div>
	</div>
</body>
</html>
</body>
</html>