/*样式初始化*/
*{margin:0px;padding: 0px;font: 12px/1.5 Arial;color: #333;}
html,body{width:100%;height:100%;max-width:5396px;max-height: 3980px;color: #333;
margin: 0;padding: 0;background-color: white;
}
a{text-decoration: none;color:#000;}
a:hover{color: red;}
ul{list-style: none;}
img{border:0px;}
.W{width: 1200px;}
.center{margin:0 auto;}  /*盒子居中*/
/*顶部*/
.tj{width: 100%;background-color:#f5f5f5;}
.db{height: 29px;border-bottom: 1px solid #e6e6e6;
}
.db>div{float: left;}
.db>div>span{display: inline-block;padding-right: 20px;color: #666;
line-height: 20px;    font: 12px/29px arial;}
.db>div>a{display: inline-block;height: 29px;line-height: 29px;}
.dba{color: #36c;}
.tsa{color: #666;}
.dba:hover{text-decoration: underline solid red;}

.db-1{width: 660px;height: 29px;margin-right: -10px;
float: right;}
.db-1>li{float: left;margin: 0 10px;}
.db-1>li>a{color:#666 }
.db-1>li>div{line-height: 29px;color:#666 }
.db_1{height: 29px;line-height: 29px;}
.db_1>a:hover{color: red;text-decoration: underline red solid;}
/*logo*/
.bag{height: 60px;margin-top: 30px;}
.logo{width:130px;height: 60px;float: left;}
.logo>a>img{height:100%;width:100%;}
.f2{float: left;margin-top: 10px;margin-left: 110px;border: solid red 2px;
}
input[type='text']{width: 441px;height: 20px;padding: 6px 10px;padding-right: 10px;border:0 none;}
input[type='submit']{width: 75px;height:36px;border: solid red 7px;background-color: red;}
.quick{width:331px;height: 43px;float: left;margin-left: 78px;}
.order{width:92px;height: 36px;line-height:36px; 
	float: right;margin-top: 7px;margin-left:20px;}
.coupon{width:107px;height: 36px;line-height:36px; 
	float: right;margin-top: 7px;margin-left:20px;}
.cart{width:72px;height: 36px;line-height:36px; 
	float: right;margin-top: 7px;margin-left:20px;}
.quick>div>a{font-size: 12px;}
/*导航*/
.dh{width: 100%;background: #c00;}
.dh-1{height: 39px;margin-top:10px;}
.fl{width:160px;height:39px;float: left;line-height: 39px;text-align: center;position: relative;}
.fl>a{color: white;font: 16px/38px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";}
.hh{width:1020px;height:100%;
float: left;margin-left:20px;}
.sy{width:56px;height:100%;float: left;color:red;margin-left: 20px;
line-height: 39px;text-align: center;}
.sy>a,.tg>a{color: white;}
.tg{width:70px;height:100%;float: left;margin-left: 20px;
line-height: 39px;text-align: center;}
.hh>li>a{font: 16px/38px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";}
.fl-1{width:320px;height: 400px;background-color: white;border:1px solid red;display: none;}
.fl-1>div{width:300px;height: 55px;margin-left:10px;line-height: 55px;}
.fl-1>div>h3>a{color:black}
.font{font: 12px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";}
.line{height: 55px;line-height: 55px;}
.fl:hover>div{display:block;}
/*.f1-1>div>div>ul>li>a{font: 16px/38px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";}*/
/*切换图*/
.qht{width:100%;height: 400px;}
/*口碑单品*/
.kb{width: 1360px;height: 1502px;margin-top:100px;margin-bottom: -20px;
}
.bt{width:1000px;height: 120px;border-bottom: 1px solid #b6b6b6; 
}
.bt-1{width: 1000px;height: 120px;
}
.kb-2{width: 1000px;height: 1381px;
}
.kb-2>ul{width: 1020px;height: 447px;margin-bottom: 20px;
}
.kb-2>ul>li{width: 278px;height: 405px;padding: 20px 20px;margin-right: 20px;
border: 1px solid #eee;float: left;
}
.img{width: 280px;height: 280px;
}
.kb-2>ul>li>a{width: 278px;height: 47px;margin-top:20px;display: block;
font: 14px/1.5 Microsoft YaHei;color: #333;
}
.gm{width: 278px;height: 38px;margin-top: 20px;
}
.gm>span{float:left;font-size: 28px;font-weight: bold;color:color: #ff3333;
}
.gm>a{display: block;width: 100px;height: 32px;line-height: 32px;text-align: center;background: #ff3333;
font-size: 12px;color: #fff;border-radius: 3px;display: block;float: right;
}
/*大牌钜惠*/
.dp{width: 1360px;height: 1502px;margin-bottom: -20px;
}
/*更多精选*/
.gd{width: 1360px;height: 568px;margin-bottom: -20px;
}
.gd-1{width: 1000px;height: 500px;
}
.gd-1>ul{width: 1020px;height: 447px;margin-bottom: 20px;
}
.gd-1>ul>li{width: 278px;height: 405px;padding: 20px 20px;margin-right: 20px;
border: 1px solid #eee;float: left;
}
.img{width: 280px;height: 280px;
}
.gd-1>ul>li>a{width: 278px;height: 47px;margin-top:20px;display: block;
font: 14px/1.5 Microsoft YaHei;color: #333;
}
.gm{width: 278px;height: 38px;margin-top: 20px;
}
.gm>span{float:left;font-size: 28px;font-weight: bold;color:color: #ff3333;
}
.gm>a{display: block;width: 100px;height: 32px;line-height: 32px;text-align: center;background: #ff3333;
font-size: 12px;color: #fff;border-radius: 3px;display: block;float: right;
}


/*尾部*/
.tail{
    width: 100%;
    height: 119px;
    padding:25px 0 30px;
    background: #2d2d2d;
    margin-top: 120px; 
}
.tail_1{
    width:1200px;
    height: 119px; 
}
.tail_1_1{
    width: 1210px;
    height: 24px;
    margin-left: -10px;
    padding-top: 7px;
    color: #666;
}
.tail_1_1>a{
    margin: 0 10px;
    color: #fff;
}
.tail_1_2{
    width: 1210px;
    height: 24px;
    padding-top: 20px;
    margin-left: -10px;
    color: #666;
}
.tail_1_2>a{
    margin:0 10px;
    color: #999;
}
.tail_1_3{
    width: 1210px;
    height: 24px;
    padding-top: 20px;
    margin-left: -10px;
}
.tail_1_3>span{
    margin-left: -5px;
    padding-left: 15px;
    color: #666;
}
.tail_1_3>span>a{
    margin:0 10px;
    color: #666;
}