<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>左侧导航menu</title>
<link href="../include/css/css.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../include/js/sdmenu.js"></script>
<script type="text/javascript">
	// <![CDATA[
	var myMenu;
	window.onload = function() {
		myMenu = new SDMenu("my_menu");
		myMenu.init();
	};
	// ]]>
</script>
<style type=text/css>
html{ SCROLLBAR-FACE-COLOR: #538ec6; SCROLLBAR-HIGHLIGHT-COLOR: #dce5f0; SCROLLBAR-SHADOW-COLOR: #2c6daa; SCROLLBAR-3DLIGHT-COLOR: #dce5f0; SCROLLBAR-ARROW-COLOR: #2c6daa;  SCROLLBAR-TRACK-COLOR: #dce5f0;  SCROLLBAR-DARKSHADOW-COLOR: #dce5f0; overflow-x:hidden;}
body{overflow-x:hidden; background:url(../include/images/main/leftbg.jpg) left top repeat-y #f2f0f5; width:194px;}
</style>
</head>
<body onselectstart="return false;" ondragstart="return false;" oncontextmenu="return false;">
<div id="left-top">
	<div><img src="../include/images/main/member.gif" width="44" height="44" /></div>
    <span>用户：<?=$_GET['name']?><br>角色：超级管理员</span>
</div>
    <div style="float: left" id="my_menu" class="sdmenu">
      <div class="collapsed">
        <span>会员管理</span>
        <a href="../index.php?m=user&a=add" target="mainFrame" onFocus="this.blur()">添加会员</a>
        <a href="../index.php?m=user&a=show" target="mainFrame" onFocus="this.blur()">浏览会员信息</a>
        <a href="../index.php?m=user&a=user_info_hangye" target="mainFrame" onFocus="this.blur()">添加行业</a>
        <!-- <a href="main_message.html" target="mainFrame" onFocus="this.blur()">留言页</a> -->
        <!-- <a href="main_menu.html" target="mainFrame" onFocus="this.blur()">栏目管理</a> -->
      </div>
      <div>
        <span>分类管理</span>
        <a href="../index.php?m=type&a=add" target="mainFrame" onFocus="this.blur()">添加分类</a>
        <a href="../index.php?m=type&a=show" target="mainFrame" onFocus="this.blur()">浏览分类</a>
        <!-- <a href="main_info.html" target="mainFrame" onFocus="this.blur()">角色管理</a> -->
        <!-- <a href="main.html" target="mainFrame" onFocus="this.blur()">自定义权限</a> -->
      </div>
      <div>
        <span>商品管理</span>
        <a href="../index.php?m=goods&a=add" target="mainFrame" onFocus="this.blur()">添加商品</a>
        <a href="../index.php?m=goods&a=show" target="mainFrame" onFocus="this.blur()">浏览商品</a>
      </div>
      <div>
        <span>订单管理</span>
        <a href="../index.php?m=order&a=show" target="mainFrame" onFocus="this.blur()">订单详情</a>
        <!-- <a href="main_list.html" target="mainFrame" onFocus="this.blur()">级别权限</a>
        <a href="main_info.html" target="mainFrame" onFocus="this.blur()">角色管理</a>
        <a href="main.html" target="mainFrame" onFocus="this.blur()">自定义权限</a> -->
      </div>
    </div>
</body>
</html>